.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 90px;
  height: 100rem;

  background-color: #1c1d22;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  margin-top: 70px;
}

.sidebar__icons:hover *,
.sidebar__icons:focus *,
.sidebar__icons:active * {
  fill: tomato;
}
