@import-normalize;

body {
  box-sizing: border-box;
  
  margin: 0;
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;

  color: #fff;
  
}
a {
  color: #fff;
  text-decoration: none;
}
a:active,
a:hover,
a:focus {
  color: tomato;
}

code {
  font-family: "Exo 2", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
